<a href="https://colab.research.google.com/github/chrisliii/FINE-452/blob/main/Fama_French.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.55)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from yfinance) (4.6.1)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.1.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
stock_name = "^GSPC"
ticker = yf.Ticker(stock_name)
#ticker.info
# monthly data
df_ticker_monthly_return = ticker.history(period="max", interval='1mo')
# monthly return
df_ticker_monthly_return['MonthlyReturn'] = 100*( (df_ticker_monthly_return['Close'].shift(-1)).div(df_ticker_monthly_return['Close']) - 1)
df_ticker_monthly_return['MonthlyReturn'] = df_ticker_monthly_return['MonthlyReturn'].shift(1)
df_ticker_monthly_return = df_ticker_monthly_return.dropna()
#date to string
df_ticker_monthly_return = df_ticker_monthly_return.reset_index()
df_ticker_monthly_return['Date'] = df_ticker_monthly_return['Date'].apply(lambda x: x.strftime('%Y%m'))

df_ticker_monthly_return.head()

     Date   Open   High    Low  ...  Volume  Dividends  Stock Splits  MonthlyReturn
0  192801  17.76  17.76  17.26  ...       0          0             0      -0.509626
1  192802  17.53  17.63  16.95  ...       0          0             0      -1.764371
2  192803  17.30  19.28  17.30  ...       0          0             0      11.703360
3  192804  18.91  19.75  18.91  ...       0          0             0       2.437759
4  192805  19.78  20.44  19.36  ...       0          0             0       1.265823

[5 rows x 9 columns]

In [ ]:
stock_name = "ADBE"
ticker = yf.Ticker(stock_name)
#ticker.info
# monthly data
df_ticker_monthly_return = ticker.history(period="max", interval='1mo')
# process Dividends
df_ticker_monthly_return['Dividends'] = df_ticker_monthly_return['Dividends'].shift(1)
df_ticker_monthly_return = df_ticker_monthly_return.dropna()
# monthly return
df_ticker_monthly_return['MonthlyReturn'] = 100*( (df_ticker_monthly_return['Close'].shift(-1)+df_ticker_monthly_return['Dividends'].shift(-1)).div(df_ticker_monthly_return['Close']) - 1)
df_ticker_monthly_return['MonthlyReturn'] = df_ticker_monthly_return['MonthlyReturn'].shift(1)
df_ticker_monthly_return = df_ticker_monthly_return.dropna()
#date to string
df_ticker_monthly_return = df_ticker_monthly_return.reset_index()
df_ticker_monthly_return['Date'] = df_ticker_monthly_return['Date'].apply(lambda x: x.strftime('%Y%m'))

df_ticker_monthly_return.head()

     Date  Open  High   Low  ...      Volume  Dividends  Stock Splits  MonthlyReturn
0  198610   0.0  0.27  0.20  ...  26118400.0        0.0           0.0      35.000000
1  198611   0.0  0.28  0.25  ...  18368000.0        0.0           0.0       3.703704
2  198612   0.0  0.31  0.26  ...  46156800.0        0.0           0.0       3.571429
3  198701   0.0  0.42  0.29  ...  62105600.0        0.0           0.0      34.482759
4  198702   0.0  0.53  0.39  ...  71571200.0        0.0           0.0      33.333333

[5 rows x 9 columns]

In [5]:
FF_Research_source = 'https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_CSV.zip'
df_FF_Research = pd.read_csv(FF_Research_source, encoding="utf-8", skipinitialspace=True)
df_FF_Research.columns = ['Date', 'Mkt-RF', 'SMB', 'HML', 'RF']
df_FF_Research = df_FF_Research.dropna()
df_FF_Research['Mkt-RF'] = df_FF_Research['Mkt-RF'].astype(float)
df_FF_Research['SMB'] = df_FF_Research['SMB'].astype(float)
df_FF_Research['HML'] = df_FF_Research['HML'].astype(float)

df_FF_Research.head()

ParserError: ignored

In [ ]:
df_ticker_FF = pd.merge(df_ticker_monthly_return, df_FF_Research, on='Date')
df_ticker_FF['Date'] = df_ticker_FF['Date'].astype(int)
#df_ticker_FF = df_ticker_FF[df_ticker_FF.Date > 201000]

df_ticker_FF.head()

     Date  Open  High   Low  Close  ...  MonthlyReturn  Mkt-RF   SMB   HML    RF
0  198610   0.0  0.27  0.20   0.27  ...      35.000000    4.66 -2.48 -1.32  0.46
1  198611   0.0  0.28  0.25   0.28  ...       3.703704    1.17 -1.92 -0.06  0.39
2  198612   0.0  0.31  0.26   0.29  ...       3.571429   -3.27  0.08  0.37  0.49
3  198701   0.0  0.42  0.29   0.39  ...      34.482759   12.47 -1.81 -3.18  0.42
4  198702   0.0  0.53  0.39   0.52  ...      33.333333    4.39  3.49 -5.99  0.43

[5 rows x 13 columns]

In [ ]:
model = sm.OLS(df_ticker_FF['MonthlyReturn'], sm.add_constant(
    df_ticker_FF[['Mkt-RF', 'SMB', 'HML']].values))
result = model.fit()
print(stock_name + '\n')
print (result.params)
print(result.summary())

ADBE

const    2.020638
x1       1.301376
x2       0.632951
x3      -0.539995
dtype: float64
                            OLS Regression Results
==============================================================================
Dep. Variable:          MonthlyReturn   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.259
Method:                 Least Squares   F-statistic:                     48.18
Date:                Wed, 30 Sep 2020   Prob (F-statistic):           1.28e-26
Time:                        20:15:21   Log-Likelihood:                -1576.7
No. Observations:                 406   AIC:                             3161.
Df Residuals:                     402   BIC:                             3177.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.0206      0.594      3.402      0.001       0.853       3.188
x1             1.3014      0.136      9.557      0.000       1.034       1.569
x2             0.6330      0.199      3.180      0.002       0.242       1.024
x3            -0.5400      0.201     -2.682      0.008      -0.936      -0.144
==============================================================================
Omnibus:                       66.139   Durbin-Watson:                   1.740
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              240.566
Skew:                           0.679   Prob(JB):                     5.78e-53
Kurtosis:                       6.518   Cond. No.                         4.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
df_ticker_monthly_return.tail()

       Date    Open    High  ...  Dividends  Stock Splits  MonthlyReturn
404  202006  387.08  446.15  ...        0.0           0.0      12.599586
405  202007  434.80  470.61  ...        0.0           0.0       2.069789
406  202008  449.84  533.70  ...        0.0           0.0      15.545103
407  202009  515.00  536.88  ...        0.0           0.0      -4.686496
408  202009  488.13  497.15  ...        0.0           0.0       0.224797

[5 rows x 9 columns]